.fa-heart-o {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  color: DarkTurquoise;
}

.fa-heart-o:hover {
  -webkit-transform: rotate(360);
  transform: rotate(360deg);
}
