<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Light my Lights</title>
  </head>

  <body>
    <h1>Light My Lights:</h1>
    <div class="switch">
      <input type="checkbox" id="onoffswitch"></input>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io.connect('/');

      $('#onoffswitch').change(function(){
        socket.emit('stateChanged', this.checked);
      });

    </script>

  </body>
</html>
