html, body {
    height: 100%;
    background: White;
}
body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'VT323', monospace;
  font-size: 18px;
}

.square {
  border: 1px solid #000;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.fa-heart-o {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  /*color: 'DarkTurquoise';*/
}

.fa-heart-o:hover {
  -webkit-transform: rotate(360);
  transform: rotate(360deg);
}

button{
  font-family: 'VT323', monospace;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.submit-button-disabled {
  background-color: Lime;
  border: 6px ridge Lime;
  opacity: 0.4;
}

.submit-button {
  background-color: Lime;
  border: 6px ridge Lime;
}

.submit-button:active {
  background-color: LimeGreen;
}

.reset-button {
  background-color: Red;
  border: 6px ridge Red;
}

.reset-button-disabled {
  background-color: Red;
  border: 6px ridge Red;
  opacity: 0.4;
}

.reset-button:active {
  background-color: FireBrick;
}

.alert-success {
  background-color: Lime;
  font-family: 'VT323', monospace;
  font-size: 18px;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
  -moz-transform:    translateY(-50px);
  -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.alert-danger {
  background-color: Red;
  font-family: 'VT323', monospace;
  font-size: 18px;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;

}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
